@import "src/components/base.scss";
.search {
  display: flex;
  justify-content: space-between;
  color: #fff;
  &__h3 {
    font-size: 30px;
    font-weight: 700;
  }

  &__wrapper {
    display: flex;

    &__input {
      position: relative;
      img {
        position: absolute;
        left: 14px;
        top: 14px;
      }
      input {
        background-color: transparent;
        border: 1px solid $border-color;
        padding: 10px 20px;
        padding-left: 40px;
        border-radius: 15px;
        width: 350px;
        &::placeholder {
          color: #d0d5dd;
        }
      }
    }
    &__date {
      background-color: $bluish-color;
      border-radius: 15px;
      padding: 0 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      margin: 0 15px;
      cursor: pointer;
      input {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
    &__username {
      width: 150px;
      color: #fff;
      margin: 0px 3px;
      .rmsc {
        .dropdown-container {
          background-color: transparent !important;
          padding: 2px;
          border-color: $border-color;
          .gray {
            color: #fff !important;
          }
        }
        .dropdown-content {
          color: black !important;
        }
      }
    }
    &__accounts {
      width: 150px;
      margin: 0px 3px;
      .rmsc {
        .dropdown-container {
          background-color: transparent !important;
          padding: 2px;
          border-color: $border-color;
          .gray {
            color: #fff !important;
          }
        }
        .dropdown-content {
          color: black !important;
        }
      }
    }
  }
}
